
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');
body{
    margin:0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}
#all{
    position: relative;
    min-height: 100vh;
}
#container{
    min-height: 100vh;
    padding-bottom: 2.5rem;
}
img {
    min-height: 100vh;
    max-width: 100%;
    object-fit: cover;
    position:absolute;
    z-index: -1;
  }
 div{
  
    z-index:1;
}
#top, #right{
    display: flex;
    justify-content: space-between;
}
p{
    margin:0;
}
#top{
    width: 100%;
    color:white;
    height:50px;
    background-color: rgb(0, 0, 0,0.5);
   
}
footer{
    height:100px;
    background-color: aquamarine;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    z-index: 1;  
  }
menu{
    position: relative;
    z-index: 1;
}
#panel{
    height:500px;
}
#timer{
    width:30vw;
    height:37vh;
    background-color: rgb(0,0,0,0.4);
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    min-height: min-content;
    font-weight: 600;
}
#time1{
    color:white;
    font-size: 80px;
    font-family: 'Arimo', sans-serif;
}
.time{
    border: none;
    outline:none;
    background-color: transparent;
    color:white;
    font-size: 80px;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    width: 120px;
    font-weight: 600;
    box-sizing: border-box;
}
.time::-webkit-outer-spin-button,.time::-webkit-inner-spin-button
{
    display:none;
}
.time {
    -moz-appearance: textfield;
  }
#main{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:6vh;
}
.list{
    flex-direction: column;
    width:30vw;
    height:80vh;
    background-color: rgb(0,0,0,0.4);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    min-width: min-content;
    min-height: min-content;
}
#mainright{
    display:flex;
    flex-direction:column;
    gap:6vh;
}
#music{
    height:37vh;
    width:30vw;
}
header{
    color:white;
    margin:5% 10% 0% 10%;
    font-size: 35px;
    font-weight: 600;
    justify-self: center;
}
.spantask{
    display:flex;
    margin:7% 5% 0 7%;
  
}
.list>div>span>label{
    margin-left:10px;
    width: 100%;
    color:white;
    font-size:20px;
}
input[type="checkbox"]
{
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin:0;
    font: inherit;
    color: white;
    min-width: 24px;
    height: 1.45em;
    border: 0.15em solid white;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    margin-top: 5px;;
    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    background-color: white;
    
  }
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .task{
    border: none;
    outline:none;
    background-color: transparent;
    color:white;
    font-size: inherit;
    text-align: left;
    min-height: min-content;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    resize:none;
    
  }
  .task::placeholder{
    color:rgb(255,255,255,0.3)
  }
  button{
    background-color: transparent;
    border:3px solid white;
    color:white;
    width:120px;
    height:60px;
    border-radius: 3px;
    font-size:15px;
    font-weight: 500;
  }
#listbuttons{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    gap:5px;
    height:100px;

}
button:hover{
    background-color: rgb(255,255,255,0.3);
    cursor: pointer;
}
button:active{
    background-color: white;
    color: grey;
}
.hidden-span{
    display:none;
}
.showed-span{
    
}
  

